body {
background-color: #111;
font-size: 50px;
font-family: "Geo", monospace;
font-weight: 400;
font-style: normal;
text-align: center;
background-image: url("1027.gif");
background-repeat: repeat;
}

a {
color: black;
-webkit-text-stroke: 3px;
-webkit-text-stroke-color: aliceblue;
text-decoration: dotted;
}

h2 {
    color: black;
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: aliceblue;
    text-decoration: dotted;
    text-align: center;
    }

li {
text-align: center;
list-style-type: none;
}

.flash {
-webkit-text-stroke-color: red;

}

.ds {
    -webkit-text-stroke-color: green;
    
    }

.ds {
  -webkit-text-stroke-color: blue;
    }

hr {
border-top: 10px dotted white
border-bottom: 0px


}