body {
background-color: #111;
font-size: 50px;
font-family: "Geo", monospace;
font-weight: 400;
font-style: normal;

background-image: url("1027.gif");
background-repeat: repeat;
}

a {
color: black;
-webkit-text-stroke: 3px;
-webkit-text-stroke-color: aliceblue;
text-decoration: dotted;
}

li {
text-align: center;
list-style-type: none;
}

